.flows_pedro-DEV.json.backup
[{"id":"9c86dcfd.f3d43","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"249fd8b.894c228","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c3175be3.4811e8","type":"ui_group","z":"","name":"Control","tab":"249fd8b.894c228","disp":true,"width":6,"collapse":false},{"id":"82d0e9f1.94ae68","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7b2195d0.9c137c","type":"ui_group","z":"","name":"Historian","tab":"249fd8b.894c228","disp":true,"width":7,"collapse":false},{"id":"cec158ad.ca6a48","type":"cronplus","z":"9c86dcfd.f3d43","name":"","outputField":"payload","timeZone":"Europe/Madrid","options":[{"topic":"TermoON","payload":"true","type":"bool","expression":"0 0 6 * * *"},{"topic":"TermoOFF","payload":"false","type":"bool","expression":"0 0 8 * * *"},{"topic":"ExtractorON","payload":"true","type":"bool","expression":"0 0 9-19 * * *"},{"topic":"ExtractorOFF","payload":"false","type":"bool","expression":"0 10 9-19 * * *"}],"x":260,"y":100,"wires":[["dfb7912e.f729f"]]},{"id":"376536bc.d75fda","type":"ui_switch","z":"9c86dcfd.f3d43","name":"","label":"Termo","tooltip":"","group":"c3175be3.4811e8","order":2,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":200,"wires":[["2b5b2323.fd650c","a1848d89.0027d","82a4e396.61cd2"]]},{"id":"4ca317a5.8de338","type":"ui_switch","z":"9c86dcfd.f3d43","name":"","label":"Extractor","tooltip":"","group":"c3175be3.4811e8","order":4,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":660,"y":360,"wires":[["b3cd425d.10805","2174eda7.737812","573a8e9b.2fe98"]]},{"id":"1a94cbf5.efa084","type":"ui_button","z":"9c86dcfd.f3d43","name":"Termo","group":"c3175be3.4811e8","order":3,"width":3,"height":1,"passthru":true,"label":"60'","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"TermoTempo","x":290,"y":200,"wires":[["eafe97a6.696898","376536bc.d75fda"]]},{"id":"6aeaf9a1.23aa98","type":"ui_button","z":"9c86dcfd.f3d43","name":"Extractor","group":"c3175be3.4811e8","order":5,"width":3,"height":1,"passthru":true,"label":"5'","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"ExtractorTempo","x":300,"y":360,"wires":[["92bb4c27.75308","4ca317a5.8de338"]]},{"id":"dfb7912e.f729f","type":"switch","z":"9c86dcfd.f3d43","name":"Termo/Extractor","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Termo","vt":"str"},{"t":"cont","v":"Extractor","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":100,"wires":[["376536bc.d75fda"],["4ca317a5.8de338"]]},{"id":"eafe97a6.696898","type":"delay","z":"9c86dcfd.f3d43","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":240,"wires":[["821da446.2a9928"]]},{"id":"92bb4c27.75308","type":"delay","z":"9c86dcfd.f3d43","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":400,"wires":[["345f9e5c.e79342"]]},{"id":"2b5b2323.fd650c","type":"debug","z":"9c86dcfd.f3d43","name":"TermoDebug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":160,"wires":[]},{"id":"821da446.2a9928","type":"change","z":"9c86dcfd.f3d43","name":"set False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":280,"wires":[["376536bc.d75fda"]]},{"id":"345f9e5c.e79342","type":"change","z":"9c86dcfd.f3d43","name":"set False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["4ca317a5.8de338"]]},{"id":"b3cd425d.10805","type":"debug","z":"9c86dcfd.f3d43","name":"ExtractorDebug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":320,"wires":[]},{"id":"bff86bc6.d2b5b8","type":"ui_switch","z":"9c86dcfd.f3d43","name":"Auto","label":"Auto mode","tooltip":"","group":"c3175be3.4811e8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"command\":\"start-all\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"command\": \"stop-all\"}","offvalueType":"json","officon":"","offcolor":"","x":110,"y":100,"wires":[["cec158ad.ca6a48"]]},{"id":"567cb1e5.31e1","type":"ui_template","z":"9c86dcfd.f3d43","group":"c3175be3.4811e8","name":"Clock","order":6,"width":0,"height":0,"format":"<script id=\"titleScript\" type=\"text/javascript\">\n    $(function() {\n        if($('.md-toolbar-tools').length != 0){\n            loadClock();\n        } else setTimeout(loadClock, 500)\n    });\n    function loadClock(){\n        $('#clock').remove();\n        var toolbar = $('.md-toolbar-tools');\n        var div = $('<div/>');\n        var p = $('<p/ id=\"clock\">');\n        div.append(p);\n        div[0].style.margin = '5px 5px 5px auto';\n        toolbar.append(div);\n        function displayTitle(lh) {\n            p.text(lh); \n        }\n        function upTime() {\n            var d = new Date();\n            p.text(d.toLocaleString(\"es-ES\"));\n        }\n        if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n        }\n        document.clockInterval = setInterval(upTime,1000);\n    }\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":950,"y":40,"wires":[[]]},{"id":"2763fda9.0fee12","type":"inject","z":"9c86dcfd.f3d43","name":"Init","topic":"","payload":"{\"command\":\"start-all\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":230,"y":40,"wires":[["bff86bc6.d2b5b8"]]},{"id":"d86ade3e.3f243","type":"rpi-gpio out","z":"9c86dcfd.f3d43","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1000,"y":400,"wires":[]},{"id":"21d390fb.6b9a4","type":"ui_chart","z":"9c86dcfd.f3d43","name":"","group":"7b2195d0.9c137c","order":2,"width":0,"height":0,"label":"Extractor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":360,"wires":[[]]},{"id":"f9d33f69.5104","type":"rpi-gpio out","z":"9c86dcfd.f3d43","name":"","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1000,"y":240,"wires":[]},{"id":"315838ae.383978","type":"ui_chart","z":"9c86dcfd.f3d43","name":"","group":"7b2195d0.9c137c","order":1,"width":0,"height":0,"label":"Termo","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":220,"wires":[[]]},{"id":"a1848d89.0027d","type":"function","z":"9c86dcfd.f3d43","name":"toNumber","func":"msg.topic=\"termo\";\nif (msg.payload) {\n    msg.payload=1\n} else {\n    msg.payload=0\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":200,"wires":[["315838ae.383978"]]},{"id":"2174eda7.737812","type":"function","z":"9c86dcfd.f3d43","name":"toNumber","func":"msg.topic=\"extractor\";\nif (msg.payload) {\n    msg.payload=1\n} else {\n    msg.payload=0\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":360,"wires":[["21d390fb.6b9a4"]]},{"id":"37656ae3.df2d16","type":"rpi-gpio in","z":"9c86dcfd.f3d43","name":"","pin":"36","intype":"down","debounce":"25","read":false,"x":180,"y":520,"wires":[["30208077.17539"]]},{"id":"30208077.17539","type":"function","z":"9c86dcfd.f3d43","name":"toBool","func":"msg.topic=\"extractor\";\nif (msg.payload===1) {\n    msg.payload=true\n    return msg;\n} \n","outputs":1,"noerr":0,"x":330,"y":520,"wires":[["4ca317a5.8de338","92bb4c27.75308"]]},{"id":"82a4e396.61cd2","type":"function","z":"9c86dcfd.f3d43","name":"Invert","func":"if (msg.payload) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":240,"wires":[["f9d33f69.5104"]]},{"id":"573a8e9b.2fe98","type":"function","z":"9c86dcfd.f3d43","name":"Invert","func":"if (msg.payload) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":400,"wires":[["d86ade3e.3f243"]]},{"id":"11365720.427bb9","type":"inject","z":"9c86dcfd.f3d43","name":"Init","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":390,"y":20,"wires":[["376536bc.d75fda","4ca317a5.8de338"]]},{"id":"293e1953.fa16a6","type":"inject","z":"9c86dcfd.f3d43","name":"Init","topic":"","payload":"{\"command\":\"stop-all\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":40,"wires":[["bff86bc6.d2b5b8"]]}]