flows_pedro-DEV.json
[{"id":"9c86dcfd.f3d43","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"249fd8b.894c228","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c3175be3.4811e8","type":"ui_group","z":"","name":"Control","tab":"249fd8b.894c228","disp":true,"width":"6","collapse":false},{"id":"82d0e9f1.94ae68","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bd0cb72e.d63978","type":"ui_spacer","name":"spacer","group":"c3175be3.4811e8","order":3,"width":6,"height":1},{"id":"cec158ad.ca6a48","type":"cronplus","z":"9c86dcfd.f3d43","name":"","outputField":"payload","timeZone":"","options":[{"topic":"TermoON","payload":"true","type":"bool","expression":"10 * * * * *"},{"topic":"TermoOFF","payload":"false","type":"bool","expression":"40 * * * * *"},{"topic":"ExtractorON","payload":"true","type":"bool","expression":"20 * * * * *"},{"topic":"ExtractorOFF","payload":"false","type":"bool","expression":"50 * * * * *"}],"x":100,"y":60,"wires":[["dfb7912e.f729f"]]},{"id":"376536bc.d75fda","type":"ui_switch","z":"9c86dcfd.f3d43","name":"","label":"Termo","tooltip":"","group":"c3175be3.4811e8","order":1,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":490,"y":140,"wires":[["d1cb5e8e.34568"]]},{"id":"4ca317a5.8de338","type":"ui_switch","z":"9c86dcfd.f3d43","name":"","label":"Extractor","tooltip":"","group":"c3175be3.4811e8","order":4,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":300,"wires":[["f3a31f56.0be79"]]},{"id":"1a94cbf5.efa084","type":"ui_button","z":"9c86dcfd.f3d43","name":"Termo","group":"c3175be3.4811e8","order":2,"width":3,"height":1,"passthru":false,"label":"60'","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"TermoTempo","x":250,"y":140,"wires":[["eafe97a6.696898","376536bc.d75fda"]]},{"id":"6aeaf9a1.23aa98","type":"ui_button","z":"9c86dcfd.f3d43","name":"Extractor","group":"c3175be3.4811e8","order":5,"width":3,"height":1,"passthru":false,"label":"15'","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"ExtractorTempo","x":280,"y":300,"wires":[["92bb4c27.75308","4ca317a5.8de338"]]},{"id":"dfb7912e.f729f","type":"switch","z":"9c86dcfd.f3d43","name":"Termo/Extractor","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Termo","vt":"str"},{"t":"cont","v":"Extractor","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":60,"wires":[["376536bc.d75fda"],["4ca317a5.8de338"]]},{"id":"eafe97a6.696898","type":"delay","z":"9c86dcfd.f3d43","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":180,"wires":[["821da446.2a9928"]]},{"id":"92bb4c27.75308","type":"delay","z":"9c86dcfd.f3d43","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":340,"wires":[["345f9e5c.e79342"]]},{"id":"d1cb5e8e.34568","type":"switch","z":"9c86dcfd.f3d43","name":"True/False","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":140,"wires":[["2b5b2323.fd650c"],["2b5b2323.fd650c"]]},{"id":"f3a31f56.0be79","type":"switch","z":"9c86dcfd.f3d43","name":"True/False","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":300,"wires":[["b3cd425d.10805"],["b3cd425d.10805"]]},{"id":"2b5b2323.fd650c","type":"debug","z":"9c86dcfd.f3d43","name":"TermoDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":140,"wires":[]},{"id":"821da446.2a9928","type":"change","z":"9c86dcfd.f3d43","name":"set False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":220,"wires":[["376536bc.d75fda"]]},{"id":"345f9e5c.e79342","type":"change","z":"9c86dcfd.f3d43","name":"set False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":380,"wires":[["4ca317a5.8de338"]]},{"id":"b3cd425d.10805","type":"debug","z":"9c86dcfd.f3d43","name":"ExtractorDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":300,"wires":[]}]